//@import '../../../../../../../node_modules/antd/dist/antd.css';
.ant-advanced-search-form {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}

.ant-advanced-search-panel {
    border-radius: 6px 6px 0px 0px;
    padding: 0px;
}

.ant-advanced-search-panel-collapse {
    border-radius: 6px 6px 0px 0px !important;
}

.ant-advanced-toolbar {
    padding: 0px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
}

.ant-advanced-toolbar-item {
    margin: 2px 2px 2px 0px;
}

.ant-advanced-search-form .ant-form-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}

.ant-advanced-search-panel .ant-form-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}

.ant-form-item-label {
    text-align: left;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
    flex: 1;
}

.ant-advanced-search-panel .ant-form-item-control-wrapper {
    flex: 1;
}

.ant-panel-collapse-custom-hidden {
    background: '#f7f7f7';
    border-radius: 4px;
    margin-bottom: 24;
    border: 0;
    overflow: 'hidden';
}

.collection-create-form_last-form-item {
    margin-bottom: 0;
}

.editable-add-btn {
    margin-bottom: 8px;
}

.old-row {
    background-color: #ffffff;
}

.even-row {
    background-color: rgb(159, 195, 241)
}